<div class="container-fluid">
  <div class="row gn-row-main">
	<div>  
	  <h3><span data-translate="">about</span></h3>
	  <p>The Geoportal of the European Commission is part of the Spatial Data Infrastructure of the European Commission. It provides the recognised access point for geographical information in the Commission.<br/><br/>
	It can be used to i) discover geographical information available in all Commission DGs and Agencies via their Metadata records, ii) view available datasets via the embedded map viewer, iii) access the data via their respective download links, and IV) manage spatially referenced resources. The GeoPortal makes available harmonised information - increasingly more compliant with the INSPIRE Implementing Rules. It improves access to the integrated use of spatial data and information for decision making. Additionally, it enhances understanding of the benefits of geographic information and describes possible restrictions on who can access or what may be done with the data, and ensure that all data can be properly attributed and cited.<br/><br/> 
	The European Commission Geoportal has been deployed by Eurostat and is hosted in a failover environment by DG DIGIT. The GISCO-team in DG ESTAT E.4 is the system owner and administrates rights at the top level. Access rights to the European Commission Geoportal are under the responsibility of each DG and managed at DG level according to the access rights policy.<br/><br/> 
	Information published in the European Commission Geoportal is under the responsibility of various publishers (units/services) of the European Institutions. Therefore, any remark or query regarding the content of a page/site should be addressed to the appropriate Publisher as indicated in the metadata of the information or service.
	  </p>
  	</div>
  	<div>
  		<p>
  		<!-- <span data-translate="">about-build</span> -->
  		<span>Current Build: </span>
  		<span>{{info.site.platform.version}} - {{info.systemInfo.gitCommitID}}</span>
  		</p>
  		<p>
  		<!-- <span data-translate="">about-siteid</span> -->
  		<span>SiteID: </span>
  		<span>{{info.site.siteId}}</span>
  		</p>
<!--   		<p>
  		<span>Debug Info: </span><span>{{info}}</span>
  		</p>
 -->  	</div>
  </div>
</div>