<div class="container-fluid ec-top-bar">
	<div class="lang-en" id="header">
	
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse" >
    <ul class="nav navbar-nav-right reset-list" id="services">
       <li>
        <a class="first" data-gn-active-tb-item="catalog.search#/search" title="{{'search' | translate}}">
			<i class="fa fa-search"></i>
			<!-- <span class="visible-lg" data-translate="">search</span> -->
 			{{'search' | translate}}
         </a>
      </li>
      <li data-ng-if="isMapViewerEnabled">
        <a data-gn-active-tb-item="catalog.search#/map" title="{{'map' | translate}}">
          <i class="fa fa-globe"></i>
          <!-- <span class="visible-lg" data-translate="">makeYourMap</span> -->
			{{'map' | translate}}
          <!-- <span data-gnv-layer-indicator=""/> -->
        </a>
      </li>
      <li data-ng-show="authenticated && user.isEditorOrMore()">
        <a data-gn-active-tb-item="catalog.edit"
           title="{{'editorBoard' | translate}}">
          <i class="fa fa-plus"></i>
          <!-- <span class="visible-lg" data-translate="">contribute</span> -->
          {{'editorBoard' | translate}}
        </a>
      </li>
      <li class="dropdown" data-ng-show="authenticated && user.isEditorOrMore()">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu toolbar-align-left" role="menu">
          <li>
            <a class="first" data-gn-active-tb-item="catalog.edit#/create">
              <i class="fa fa-plus"/>&nbsp;<span data-translate="">addRecord</span>
            </a>
          </li>
          <li>
            <a class="first" data-gn-active-tb-item="catalog.edit#/import">
              <i class="fa fa-upload"/>&nbsp;<span data-translate="">ImportRecord</span>
            </a>
          </li>
          <li>
            <a class="first" data-gn-active-tb-item="catalog.edit#/directory"
               data-ng-if="user.isReviewerOrMore()">
              <i class="fa fa-list-ul"/>&nbsp;<span data-translate="">directoryManager</span>
            </a>
          </li>
        </ul>
      </li>
      <li data-ng-show="user.isReviewerOrMore()">
        <a data-gn-active-tb-item="admin.console"
           title="{{'adminConsole' | translate}}">
          <i class="fa fa-th"></i>
          <span class="visible-lg" data-translate="">adminConsole</span>
        </a>
      </li>
      
	<li>
        <a data-gn-active-tb-item="catalog.search#/about" title="{{'about' | translate}}">
 			{{'about' | translate}}
         </a>
	</li>
	<li>
        <a data-gn-active-tb-item="catalog.search#/legal" title="{{'legal' | translate}}">
 			{{'legal' | translate}}
         </a>
	</li>    
	<li>
        <a data-gn-active-tb-item="catalog.search#/contact" title="{{'contact' | translate}}">
 			{{'contact' | translate}}
         </a>
	</li>    
      
      <li data-ng-show="authenticated">
        <a data-gn-active-tb-item="admin.console#/organization/users?userOrGroup={{user.username}}"
           title="{{'userDetails' | translate}}"
           data-ng-disabled="!user.isUserAdminOrMore()" >
          <img class="img-circle" data-ng-src="http://gravatar.com/avatar/{{user.email | md5}}?s=18"/>
          {{user.name}} {{user.surname}} ({{user.profile | translate}})
          <span class="alert alert-danger ng-hide"
                data-ng-show="session.remainingTime > 0 &&
                    session.remainingTime < session.alertInTitleWhen"
                data-translate=""
                data-translate-values="{remainingTime: '{{session.remainingTime}}'}">
            sessionWillExpireIn
          </span>
        </a>
      </li>
      <li data-ng-show="authenticated">
        <a data-gn-active-tb-item="../../j_spring_security_logout"
           title="{{'signout' | translate}}">
          <i class="fa fa-sign-out"></i>&nbsp;
          {{'signout' | translate}}
        </a>
      </li>
      <li data-ng-show="!authenticated && service !== 'catalog.signin'">
        <a data-gn-active-tb-item="{{pages.signin}}?casLogin"
           title="{{'signIn'|translate}}"
           data-ng-keypress="$event">
           <i class="fa fa-sign-in"/>&nbsp;
           {{'signIn' | translate}}
        </a>
      </li>
    </ul>
    
<!--     <form class="navbar-form navbar-right" role="language">
      <div class="form-group pull-right"
           data-gn-language-switcher="lang"
           data-langs="langs"
           data-lang-labels="langLabels"/>
    </form>
 -->
  	</div>
		<p class="banner-flag">
			<img alt="European Commission logo" id="banner-flag" data-ng-src="../../images/ec/logo_en.gif">
		</p> 	
		<p id="banner-title-text" style="color:#0065A2">{{info.site.name}}</p>
			<span id="banner-image-title" class="title-banner"></span>
		</span>
	</div>
	<div class="path-tools-div">
		<div ec-breadcrumb></div>
<!-- 		<div id="path">
			<p class="off-screen">Navigation path</p>
			<ul class="reset-list">
                <li class="first">
               		<a data-gn-active-tb-item="catalog.search#/home">{{info.site.name}}</a>
                </li>
                <li>
                    <a href="/site/subsite-2/index_en.htm">Title of the subsite 2</a>
                </li>
                <li>Title of the subsite 2 1</li>
			</ul>
		</div>		
 -->		<div class="additional-tools-div">
			<ul class="reset-list" id="additional-tools">
                <li>
                    <a href="javascript:print();" title="Print version"><img alt="Print version" data-ng-src="../../images/ec/print.gif"></a>
                </li>
                <li>
                    <a href="javascript:tools.fonts.decrease();" title="Decrease text"><img alt="Decrease text" data-ng-src="../../images/ec/font-decrease.gif"></a>
                </li>
                <li>
                    <a href="javascript:tools.fonts.increase();" title="Increase text"><img alt="Increase text" data-ng-src="../../images/ec/font-increase.gif"></a>
                </li>
<!--                 <li>
                    <div id="share-tool">
                        <script type="text/javascript">if(typeof iBeginShare == "object"){iBeginShare.attachLink('share-tool');}</script>
                    <div id="share_button_container" class="share_button share_style_button_16 share_size_16"><a href="javascript:void(0)" id="share_button_link">Share</a></div></div>
                </li>
 -->            </ul>
    		</div>
    	</div>
</div>