<div class="container-fluid">
  <div class="row gn-row-main">
	<div>  
		<h3>We welcome your Feedback!</h3>
		<br/>
		<p>The European Commission Geoportal depends on your feedback to help us make it better. If you have any questions or comments about this site, please take the time to <a href="mailto:ESTAT-INSPIRE-AT-EC@ec.europa.eu?subject=Geoportal%20of%20the%20European%20Commission%20feedback" target="_top" title="ESTAT-INSPIRE-AT-EC@ec.europa.eu">email</a> us with them.</p>  
  	</div>
  </div>
</div>